	.browser {
		display: inline-block;
		width: 4.5em;
	}

	.browser_links {
		margin: 2em 0;
	}
	.browser + .browser {
		margin-left: 3em;
	}

	.browser_name {
		text-align: center;
		width: 100%;
		color: #333;
		font-size: .9em;
	}
