.systemNavigation {
	height: 15em;
	border-bottom: $PROMINENT_BORDER solid $BASE_BUTTON_COLOR;
	position: relative;
}


.tabControls {
	position: absolute;
	bottom:-$PROMINENT_BORDER;
	z-index: 1000;
}

.tab {
	float: left;
	border: $PROMINENT_BORDER solid $VERY_LIGHT_GRAY;
	padding: .75em 1.7em;
	z-index: 1000;
	position: relative;
	font-weight: 700;
	color: $LIGHT_GRAY;
	font-size: .95em;

}

.tabBorder {
	position: absolute;
	bottom: -$PROMINENT_BORDER;
	left: -$PROMINENT_BORDER;
	right: -$PROMINENT_BORDER;
	height: $PROMINENT_BORDER;
	background: $BASE_BUTTON_COLOR;
	z-index: 3000;
}

.tab.active {
	border: $PROMINENT_BORDER solid $BASE_BUTTON_COLOR;
	z-index: 2000;
	color: $DARK_GRAY;
}

.tab.active .tabBorder {
	background: white;
	left: 0;
	right: 0;
}

.tab + .tab {
	margin-left: -$PROMINENT_BORDER;
}