@media only screen and (min-width: 600px) {

	body {
		font-size: .85em;
	}

	.contentWrapper {
	   	width: 70%;
	}

	.content {
		width: 75%;
	}

	.systemContent {
		padding: 5em 0;
	}

.contentSection + .contentSection, .SectionInner + .contentSection, .genericSection + .contentSection {
		margin-top: 7em;
	}

.SectionInner + .SectionInner, .contentSection + .SectionInner, .genericSection + .SectionInner {
		margin-top: 3.5em;
	}
}