@media only screen and (min-width: 1200px) {

	body {
		font-size: .95em;
	}
	
	.contentWrapper {
	   	width: 65%;
	}

	.content {
		width: 80%;
	}

	.systemContent {
		padding:6em 0;
	}

.contentSection + .contentSection, .SectionInner + .contentSection, .genericSection + .contentSection {
		margin-top: 8em;
	}

.SectionInner + .SectionInner, .contentSection + .SectionInner, .genericSection + .SectionInner {
	margin-top: 4em;
	}

}