.contentWrapper {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.systemContent {
	padding: 4.5em 0;
	border-top: 3px solid lightgray;
	margin-top: -3px;
}

.contentSection + .contentSection {
	margin-top: 3em;
}

.SectionInner + .SectionInner {
	margin-top: 3em;
}