@media only screen and (min-width: 1200px) {

	body {
		font-size: .95em;
	}
	
	.contentWrapper {
	   	width: 65%;
	}
	
	.scrollContainerInnner {
	padding: 0 17.5%;

}

	.content {
		width: 80%;
	}

	.systemContent {
		margin:6em 0;
	}

	.contentSection + .contentSection {
		margin-top: 7em;
	}

	.SectionInner + .SectionInner {
	margin-top: 5.5em;
	}

}