html {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
   font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  /* EDIT: new syntax for FF 15+ */
  -ms-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
 box-sizing: inherit;
}

body, input, textarea, select, button, .button {
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: 400;
    color: $base-font-color;
    font-size: $base-font-size;

}


img {
	max-width: 100%;
}

menu, ul, ol {
  margin: 0;
  padding: 0;
}

.content a {  color: dimgray;
  text-decoration: none;
  padding-bottom: .1em;
  border-bottom: 2px solid lightgray;
}

a:hover {
  color: #333;
}

.systemHeader a {
  text-decoration: none;
  color: dimgray;
  font-size: .9em;
  font-weight: 600;
  padding-bottom: .2em;
  border-bottom: 2px solid lightgray;
}



/**
 * Clearfix
 */
.clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
