$base-font-family: 'Lato', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$PROMINENT_BORDER: 3px;

$OFF_BLACK: #333;
$LIGHT_GRAY: #D8D8D8;
$DARK_GRAY: #979797;

$VERY_LIGHT_GRAY: #F7F7F7;


$base-font-color: $OFF_BLACK;

$BASE_BUTTON_COLOR: $LIGHT_GRAY;
$BASE_BUTTON_TEXT_COLOR: $DARK_GRAY;
$BASE_BUTTON_OFF_COLOR: $VERY_LIGHT_GRAY;