@media only screen and (min-width: 600px) {

.loanInformationTotal .loanInfo {
	font-size: 5.5em;
	font-weight: 800;
}

.loanInformationTotal {
	margin-bottom: 4em;
}


.loanInformationDetails .loadDetailsSection {
	width: 10em; 
}

.loanInformationDetails {
	font-size: .9em;
}

.valueProp {
	margin-bottom: 6em;
	margin-top: 3em;
}
.proposition {
	width: 33.3%;
	float: left;
	
}
.proposition + .proposition {
	margin-top: 0;
	padding-left: 2em;
}


}