.loanInformationTotal {
	margin-bottom: 3em;
}

.infoLabel {
	text-transform : uppercase;
	font-size : 0.7em;
	font-weight : 700;
	width : 100%;
	line-height: 1.2;
}


.loanInformationDetails .loanInfo {
	font-weight: 800;
}


.loanInformationTotal .loanInfo {
	font-size: 4em;
	font-weight: 700;
	margin-top: .1em;
	line-height: 1
}

.loanInformationDetails .loadDetailsSection {
	width: 7.5em; 
	float: left;
	text-align: left;
	margin-right: 1.5em;
}
.loanInformationDetails {
	font-size: .8em;
}

.loadDetailsSection.termOfLoan {
	margin-right: 0;
}

.valueProp {
	margin-bottom: 2em;
	margin-top: 3em;
}

.propHeader {
	font-weight: 800;
	margin-bottom: 1em;
}

.propCopy {
	font-size: .8em;
}

.proposition + .proposition {
	margin-top: 2em;
}
