html {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
   font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  /* EDIT: new syntax for FF 15+ */
  -ms-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
 box-sizing: inherit;
}

body, input, textarea, select, button, .button {
    font-family: $SYSTEM_FONT;
    line-height: $SYSTEM_LINE_HEIGHT;
    font-weight: 400;
    color: $SYSTEM_FONT_COLOR;
    font-size: $SYSTEM_FONT_SIZE;

}


img {
	max-width: 100%;
  display: block;
}

menu, ul, ol {
  margin: 0;
  padding: 0;
}

.content a {  color: dimgray;
  text-decoration: none;
  padding-bottom: .1em;
  border-bottom: 2px solid lightgray;
}

a:hover {
  color: #333;
}

.accountControls a {
  text-decoration: none;
  color: dimgray;
  font-size: .9em;
  font-weight: 600;
  padding-bottom: .2em;
  border-bottom: 2px solid lightgray;
}



.infoMessage {
  margin-top: 2em;
  padding: 2em 2em 2em 1.5em;
  background: HSLA(150, 53%, 60%, 1);
  font-size: 1.1em;
  color: white;
  font-weight: 600;
  border: 2px solid HSLA(150, 53%, 60%, .7);;
  border-radius: 2px;

  &.hide {
    display: none;
  }

  a {
    color: white;
  }

  .infoMessageInner {
    @include MQ(S) {

      padding-left: 5em;
    }

        @include MQ(S-M) {

      width: 80%;
      padding-left: 5em;
    }
  }


  .image {

    @include MQ(S) {
      position: absolute;

    }

    width: 3em;
    margin-bottom: 2em;
  }

  .title {
    font-size: 1.6em;
    padding-top: .3em;
    margin-bottom: 1.75em;
    line-height: 1;
    font-weight: 800;
  }

}


/**
 * Clearfix
 */
.clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
