$SYSTEM_FONT: 'Lato', Helvetica, Arial, sans-serif;
$SYSTEM_FONT_SIZE:   .8em;
$SYSTEM_LINE_HEIGHT: 1.5;

$PROMINENT_BORDER: 3px;
$-PROMINENT_BORDER: -3px;

$BLACK: #111;

$OFF_BLACK: #333;
$LIGHT_GRAY: #D8D8D8;
$DARK_GRAY: #979797;

$VERY_LIGHT_GRAY: #F7F7F7;


$SYSTEM_FONT_COLOR: $OFF_BLACK;

$BASE_BUTTON_COLOR: $LIGHT_GRAY;
$BASE_BUTTON_TEXT_COLOR: $DARK_GRAY;
$BASE_BUTTON_OFF_COLOR: $VERY_LIGHT_GRAY;

// breakpoints
   
$XS:    320px; 
$S:		500px; 
$S-M:	600px; 
$M:     768px; 
$M-L:	975px;    
$L:     1170px;     
$XL:	1450px;
$XXL:	2000px;