.systemHeader {
	padding: 1.75em 0 1em;
	width: 100%;
	background: rgba(255,255,255,0.82);
	z-index: 2000;
}

.brandMark {
	float: left;
	width: 10em;
}
.accountControls {
	float: right;
}

.accountControls button {
	border:0;
	padding: 0;
	border-bottom: 1px solid $BASE_BUTTON_COLOR;
	background : white;
	font-weight : 500;
	font-size : 0.75em;
	padding-bottom: .05em;
}
