@media only screen and (min-width: 600px) {




	.AccountMetaInfo {
		text-align: right;
		right: 12em;
	}

	.preSignIn {
		margin-top: .2em;
		margin-right: -.85em;
		font-size: 2.2em;
		line-height: 1.1;
	}
	.postSignIn {
		font-size: 1.2em;
	}

}