.multiInput input, .multiInput span {
	display: inline-block;
}

.multiInput input {
	border-bottom: 2px solid lightgray;
	text-align: center;
	z-index : 10;
}

 #dateOfBirthField-year {
	width: 2.6em;
}

 #phoneNumberField-lastFour {
	width: 2.5em;
}
 #phoneNumberField-areaCode,  #phoneNumberField-firstThree,  .socialInsuranceField input {
	width: 1.9em;
}

 #dateOfBirthField-month,  #dateOfBirthField-date {
	width: 2em;
}

.postalCodeField input {
	text-transform: uppercase;
}

.MultiInputSeparator, .phoneBracket, .postalCodeSpacer {
	padding: 0 .4em;
	font-weight: 900;
	font-size: 1.2em;
	color: rgb(170,170,170);
}

.phoneBracket {
	padding: 0 .05em;;
}
.postalCodeSpacer {
	padding: 0 .5em;
}

.phoneNumberField .MultiInputSeparator {
	padding: 0 .2em;
}

.postalCodeField input {
	width: 1.1em;
}

.postalCodeField input + input {
	margin-left: .2em;
}
.assistiveWrapperLabel {
	position: absolute;
	height:100%;
	width:100%;
	top: 0;
    left: 0;
}

