input, .input {
	font-family: $SYSTEM_FONT;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	border-radius: 0;
	font-weight: 600;
	-webkit-appearance:none;
}

input, select, textarea, label {
	border: none;
	padding: 0;
	width: 100%;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: transparent;
	color: #333;
}

input:active, input:focus, select:focus, textarea:focus {
	outline-style: none;
}

input::-webkit-input-placeholder {
color: green;
}

input::-moz-placeholder {
    color: rgb(230,230,230);
}

input:-ms-input-placeholder {
    color: rgb(230,230,230);
}