.filled input, .filled select, .filled .dollar::before {
	color: #333;
}

.filled input::-webkit-input-placeholder {
color:  #333;
}

.filled input::-moz-placeholder {
    color:  #333;
}

.filled input:-ms-input-placeholder {
    color:  #333;
}