@media only screen and (min-width: 1200px) {
	
	.doubleFormSection, .formSection {
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	}

	.firstNameField {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4;
	}
	.middleNameField {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    }

	.addressField {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
        -ms-flex: 5;
            flex: 5;
	}
	.addressUnitField {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
	}

	.doubleFormSection .formSection:nth-child\(1\) {
		border-right: none;
	}



	.middleNameField .labelContainer {
		-webkit-box-flex: 9rem 0;
	    -webkit-flex: 9rem 0;
	        -ms-flex: 9rem 0;
	            flex: 9rem 0;	}

	.addressUnitField .labelContainer {
				-webkit-box-flex: 6.5rem 0;
	    -webkit-flex: 6.5rem 0;
	        -ms-flex: 6.5rem 0;
	            flex: 6.5rem 0;
	}

	.ie9 .middleNameField .labelContainer {
		width: 14em;
	}



	.labelContainer {
		-webkit-box-flex: 15rem 0;
	    -webkit-flex: 15rem 0;
	        -ms-flex: 15rem 0;
	            flex: 15rem 0;
	}
}