@media only screen and (min-width: 600px) {


	.formSection {
			  -webkit-transition: box-shadow 0.1s;
	  			transition: box-shadow 0.1s;
	}

	.formSection:hover {
			box-shadow: 0px 0px 5px 2px #ededed;

	}

	.formSection:hover select, .formSection:hover .MultiInputSeparator, .formSection:hover .phoneBracket, .formSection:hover .dollar::before {
		color: #444!important;
	}

	.formSection:hover .select-input::after {
		opacity: 1;
	}

}