@media only screen and (min-width: 600px) {


	.labelContainer label {
		font-weight: 300;
		font-size: 1em;
	}

	 .formSectionHeader .formSectionInner {
		padding: 1.4em 1.5em 1.1em;
	}


	.helperContainer label {
		font-size: .7em;
	}


	.labelContainer label {	
		line-height: 4.3rem;
		padding: 0;
		padding-left: 2em;
		font-size: .95em;
	}

/* Dollar Spacing */

	/* Equal Input Heigh */


	.inputContainer input, .multiInput .inputFieldContainer, .inputContainer select {
		padding: 0;
		height: 4.3rem;
	}

	/* Multi-Input Input  */

	.multiInput .inputFieldContainer {
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
    	-webkit-box-align: center;
		-webkit-align-items: center;
    	-ms-flex-align: center;
        align-items: center;

	}
	.multiInput .inputFieldContainer input {
		height: auto;
	}


	.inputContainer input, .inputContainer select, .MultiInputSeparator, .phoneBracket {
		font-size: 1.35em;
	}


	.dollar::before {
		padding-left: 0;
	}

	.helperContainer label {
		padding-left: 12rem;
	}

	.select-input::after {
		right: 1.75em;
	}


}