.formSectionInner {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	width: 100%;

	-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
}

.formSectionInner > * {
	  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
}