@media only screen and (min-width: 600px) {



	.labelContainer label {
		font-weight: 300;
		font-size: 1em;
	}

	 .formSectionHeader .formSectionInner {
		padding: 1.4em 1.5em 1.1em;
	}


	.helperContainer label {
		font-size: .7em;
	}


	.labelContainer label {	
		line-height: 4.25em;
		padding-left: 2em;
		font-size: .95em;
	}


.formSection input {
	height: 3em;
}

	.formSection input, .formSection select, .MultiInputSeparator, .phoneBracket {
		font-size: 1.35em;
	}



}