.multiInput input, .multiInput span {
	display: inline-block;
}

.multiInput input {
	border-bottom: 2px solid lightgray;
	text-align: center;
}

.multiInput #dateOfBirthField-year {
	width: 2.6em;
}

.multiInput #phoneNumberField-lastFour {
	width: 2.5em;
}
.multiInput #phoneNumberField-areaCode, .multiInput #phoneNumberField-firstThree {
	width: 1.9em;
}

.multiInput #dateOfBirthField-month, .multiInput #dateOfBirthField-date {
	width: 2em;
}

.MultiInputSeparator, .phoneBracket {
	padding: 0 .4em;
	font-weight: 900;
	font-size: 1.2em;
	color: rgb(170,170,170);
}

.phoneBracket {
	padding: 0 .05em;;
}

.phoneNumberField .MultiInputSeparator {
	padding: 0 .2em;
}