.formSection {
	border-top: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	z-index: 10;
	position: relative;
}

.formSection {
	margin-top: -1px;
}


.formSectionInner {
	padding: .6em .9em .9em;
  	-webkit-transition: all 0.7s;
  	transition: all 0.7s;
  	border-left: 1px solid lightgray;
}

.inputContainer {
	margin-top: 1.8em;
}

.formSection label {
	font-weight: 700;
}

.formSection label, .formSection .label {
	font-size: .85em;
}

.formSection input, .formSection select {
	font-size: 1.5em;
}

.helpInfo {
	font-weight: 300;
}
