.focus {
	box-shadow: 0px 0px 12px 2px #ededed;
	z-index: 20;
}

.focus.formSection { 
	background: hsl(152, 32%, 98%);
}

.focus .formSectionInner {
	border-left: 5px solid hsl(152, 32%, 55%);
}


select, .focus .prependix::before,  .MultiInputSeparator, .phoneBracket {
	  	 -webkit-transition: color 0.3s;
  			transition: color 0.3s;
}

.focus select,   .focus .MultiInputSeparator, .focus .phoneBracket, .focus .prependix::before {
	color: #444!important;
}

.focus input::-webkit-input-placeholder {
color:  hsl(0,0%,90%);
}

.focus input::-moz-placeholder {
    color:  hsl(0,0%,90%);
}

.focus input:-ms-input-placeholder {
    color:  hsl(0,0%,90%);
}


.other.focus .text-area-input  textarea {
	background: hsl(152, 32%, 100%);
	border: 1px solid #ededed;
}

.focus .select-input::after {
		  			opacity: 1;

}