.filled input, .filled select, .filled .dollar::before, .filled textarea {
	color: #333!important;
}

.filled .prependix::before,  .filled .MultiInputSeparator, .filled .phoneBracket {
	color: #444!important;
}


.filled input::-webkit-input-placeholder {
color:  #333;
}

.filled input::-moz-placeholder {
    color:  #333;
}

.filled input:-ms-input-placeholder {
    color:  #333;
}