.select-input {
	position: relative;
}

.select-input::after {
	content: '';
	position: absolute;
	z-index: 1;
	right: 15px;
	top: 50%;
	margin-top: 0px;
	display: block;
	width: 19px;
	height: 9px;
	background: url("../img/select-arrow-black.svg") no-repeat center center;
	pointer-events: none;
	background-size: cover;
			 -webkit-transition: opacity 0.3s;
  			transition: opacity 0.3s;
  			opacity: .5;
}

.select-input select {
	width: 100%;
	border-radius: 0;
	font-weight: 600;
	display: block;
	position: relative;
	 -webkit-transition: color 0.3s;
  			transition: color 0.3s;
}

select::-ms-expand {
  display:none;
}
