@media only screen and (min-width: 1200px) {
	
	.doubleFormSection, .formSection {
		display: flex;
	}

	.firstNameField {
		flex: 3;
	}
	.middleNameField {
		flex: 2;
	}

	.addressField {
		flex: 4;
	}
	.addressUnitField {
		flex: 2;
	}

	.doubleFormSection .formSection:nth-child(1) {
		border-right: none;
	}



	.middleNameField .labelContainer {
		width: 11em;
	}

	.addressUnitField .labelContainer {
		width: 7em;
	}

	.ie9 .middleNameField .labelContainer {
		width: 14em;
	}



	.labelContainer {
		width: 14em;
	}


}