.formSection {
	border-top: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	  	border-left: 1px solid lightgray;

	z-index: 10;
	position: relative;
}

.formSection {
	margin-top: -1px;
}



.formSectionInner {
	padding: .6em .9em .9em;
  	-webkit-transition: all 0.7s;
  	transition: all 0.7s;
}

.inputContainer {
	margin-top: 2.2em;
	position: relative;
}

.formSection label, .formSection .label {
	font-weight: 700;
	font-size: .8em;

}

.formSection input, .formSection select, .dollar::before  {
	font-size: 1.5em;
	font-weight: 600;
  	color: rgb(180,180,180);
}


.error .errorInfo, .helpInfo {
	margin-top: .6em;
}

.helpInfo {
		color: rgb(170,170,170);
}


.dollar input {
	padding-left: 1em;
}

.dollar::before {
	pointer-events: none;
	content: '$';
	width: 13px;
	font-weight: 800;
	position: absolute;
	color: rgb(180,180,180);
}

