.pageControls button, .pageControls .button {
	color: white;
	height:5em;
}

.pageControls {
	margin-top: 1.5em;
}

.pageControls.pastRadioCheckbox {
	margin-top: 2.5em;
}

.pageControls.sign-in .button {
	width: 100%;
}

.pageControls.sign-in input {
	color: white;
}

.pageControls .button .buttonInnerText {
	@include center;
	width: auto;
}

.pageControls .buttonInnerText {
	font-size: 1.1em;
}


.loginButton {
	height: 4.1em;
	width: 100%;
	background: #4edfa5;
	color: white;
	font-weight: 800;
	font-size: 1.2em;
	margin-top: 3em;
}