.tabControls {
	position: absolute;
	bottom: 0;
	z-index: 1000;
	max-width: 100%;
}

.tab {
	float: left;
	border: $PROMINENT_BORDER solid $VERY_LIGHT_GRAY;
	padding: .75em 1.5em;
	z-index: 1000;
	position: relative;
	font-weight: 500;
	color: $LIGHT_GRAY;
	font-size: .9em;
	background: white;

}

.tabBorder {
	position: absolute;
	bottom: -$PROMINENT_BORDER;
	left: -$PROMINENT_BORDER;
	right: -$PROMINENT_BORDER;
	height: $PROMINENT_BORDER;
	background: $BASE_BUTTON_COLOR;
	z-index: 3000;
}

.tabActive {
	border: $PROMINENT_BORDER solid $BASE_BUTTON_COLOR;
	z-index: 2000;
	color: $BLACK;
}


.tabActive .tabBorder {
	background: white;
	left: 0;
	right: 0;
}

.tab + .tab {
	margin-left: -$PROMINENT_BORDER;
}


.tab a {
	text-decoration: none;
	color: #D8D8D8;
}


.tabActive a {
	color: $BLACK;
}